.combo__subtitle{
    position: absolute;
    width: 227px;
    height: 24px;
    text-align: center;
    color: #415167;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 88px;
    margin-left: 454px;
}